mat-spinner {
  top: 35%;
  margin: auto;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container {
  height: calc(100% - 1.5rem);
  width: calc(100% + 48px);
  padding-top: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -24px;
  margin-top: -8px;
  animation: cssAnimation 0s 1.5s forwards;
  visibility: hidden;
}
@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}
.login-card {
  max-width: 500px;

  top: 46%;
  margin: auto;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
mat-form-field {
  width: 100%;
}
button {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100% + 32px);
  }
}
@media screen and (orientation: portrait) {
  .container {
    background-image: url(https://picsum.photos/720/480?blur=2);
  }
}
@media screen and (orientation: landscape) {
  .container {
    background-image: url(https://picsum.photos/480/720?blur=2);
  }
}
