app-bill {
  display: flex;
  height: auto;
}
.add-items {
  position: relative;
  margin-top: 0.5rem;
  padding: 8px;
  border: 1px solid black;
}
mat-form-field {
  margin-right: 16px;
  font-size: 16px;
}
h2 {
  background-color: #3f51b5;
  color: white;
  padding: 8px;
}
.btn {
  height: 44px;
  width: 128px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.save-btn {
  position: absolute;
  right: 0;
  width: 144px;
  height: 44px;
  margin-top: -42px;
  margin-right: 8px;
}
