<div class="inventory-container">
  <div class="inventory-dashboard">
    <button class="idb" mat-raised-button color="primary" (click)="additem()">
      <mat-icon>add</mat-icon>Add item
    </button>
    <button
      class="idb"
      [disabled]="lowStockCout == 0"
      mat-raised-button
      matBadge="{{ lowStockCout }}"
      color="accent"
      (click)="sLS()"
    >
      <mat-icon>low_priority</mat-icon>
      Low Stock
    </button>
    <button
      (click)="sOS()"
      class="idb"
      [disabled]="outOfStockCount == 0"
      mat-raised-button
      color="warn"
      matBadge="{{ outOfStockCount }}"
      matBadgeColor="primary"
    >
      <mat-icon>warning</mat-icon>
      Out of Stock
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="add" *ngIf="addItem"><app-add-item></app-add-item></div>
  <div class="sLS" *ngIf="seeLowStock">
    <h1>Low on Stock</h1>
    <h4 style="text-align: center" *ngIf="lowStock.length <= 0">
      Looks like you have no Low Stock items !
    </h4>
    <app-inventory-list
      [inventory]="lowStock"
      *ngIf="lowStock.length > 0"
    ></app-inventory-list>
  </div>
  <div class="sOS" *ngIf="seeOutofStock">
    <h1>Out of Stock</h1>
    <h4 style="text-align: center" *ngIf="outOfStock.length <= 0">
      Looks like you have no Out of Stock items !
    </h4>
    <app-inventory-list
      [inventory]="outOfStock"
      *ngIf="outOfStock.length > 0"
    ></app-inventory-list>
  </div>
  <mat-divider *ngIf="addItem || seeLowStock || seeOutofStock"></mat-divider>
  <mat-spinner
    *ngIf="isloading"
    style="margin: 5rem auto auto auto"
  ></mat-spinner>
  <div class="inventory-list" *ngIf="!isloading">
    <h1>My Inventory</h1>
    <h4 style="text-align: center" *ngIf="inventory.length <= 0">
      Looks like you have not added any items to inventory !
    </h4>
    <app-inventory-list
      [inventory]="inventory"
      *ngIf="inventory.length > 0"
    ></app-inventory-list>
  </div>
</div>
