<div class="inventory-container">
  <div class="inventory-dashboard">
    <button class="idb" mat-raised-button color="primary" (click)="additem()">
      <mat-icon>add</mat-icon>Add item
    </button>
    <button
      class="idb"
      mat-raised-button
      matBadge="8"
      color="accent"
      (click)="sLS()"
    >
      <mat-icon>low_priority</mat-icon>
      Low Stock
    </button>
    <button
      (click)="sOS()"
      class="idb"
      mat-raised-button
      color="warn"
      matBadge="8"
      matBadgeColor="primary"
    >
      <mat-icon>warning</mat-icon>
      Out of Stock
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="add" *ngIf="addItem"><app-add-item></app-add-item></div>
  <div class="sLS" *ngIf="seeLowStock"><app-low-stock></app-low-stock></div>
  <div class="sOS" *ngIf="seeOutofStock">
    <app-out-of-stock></app-out-of-stock>
  </div>
  <mat-divider *ngIf="addItem || seeLowStock || seeOutofStock"></mat-divider>
  <div class="inventory-list"><app-inventory-list></app-inventory-list></div>
</div>
