<div class="inventory-container">
  <table class="table">
    <tr class="tr trth">
      <th class="th">No.</th>
      <th class="th">Item Name</th>
      <th class="th">Quantity Left</th>
      <th class="th">Tax%</th>
      <th class="th">Rate</th>
    </tr>
    <tr class="tr" *ngFor="let i of inventory; let j = index">
      <td class="td">{{ j + 1 }}</td>
      <td class="td">{{ i.ItemName }}</td>
      <td class="td">{{ i.Qty }}</td>
      <td class="td">{{ i.TaxPercent }}</td>
      <td class="td">Rs.{{ i.Rate }}</td>
    </tr>
    <tr>
      <td colspan="5" style="padding: 0px">
        <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator>
      </td>
    </tr>
  </table>
</div>
