<br />
<div class="add-item-container">
  <mat-card *ngIf="!isloading">
    <form #itemForm="ngForm" (submit)="additem()">
      <mat-form-field appearance="outline">
        <mat-label>Item Name</mat-label>
        <input
          type="text"
          matInput
          name="itemName"
          maxlength="30"
          minlength="3"
          [(ngModel)]="data.ItemName"
          #itemName="ngModel"
          required
        />
        <mat-error *ngIf="itemName.invalid">Item Name is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>HSN Code</mat-label>
        <input
          type="number"
          matInput
          name="hsn"
          maxlength="30"
          minlength="3"
          [(ngModel)]="data.Hsn"
          #hsn="ngModel"
          required
        />
        <mat-error *ngIf="hsn.invalid">HSN is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Item Quantity</mat-label>
        <input
          type="number"
          matInput
          name="qty"
          [(ngModel)]="data.Qty"
          #qty="ngModel"
          required
        />
        <mat-error *ngIf="qty.invalid">Quantity is Required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Rate</mat-label>
        <input
          type="number"
          matInput
          name="rate"
          [(ngModel)]="data.Rate"
          #rate="ngModel"
          required
        />
        <mat-error *ngIf="rate.invalid">Rate is required</mat-error>
      </mat-form-field>
      <br />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="mode === 'create'"
      >
        <mat-icon>login</mat-icon>&nbsp; Add Item
      </button>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        *ngIf="mode === 'edit'"
        (click)="additem()"
      >
        <mat-icon>upgrade</mat-icon>&nbsp; Update
      </button>

      <button
        mat-raised-button
        style="margin-left: 16px"
        color="warn"
        type="button"
        *ngIf="mode === 'edit'"
        (click)="delete(id)"
      >
        <mat-icon>delete</mat-icon>&nbsp; Delete
      </button>
    </form>
  </mat-card>
</div>
<br />
