.bill-container {
  width: 100%;
  border: 1px solid black;
  padding: 8px;
  margin-left: -8px;
  position: relative;
}
.company-name {
  text-align: center;
}
.company-address {
  text-align: center;
}
.invoice-details {
  text-align: left;
}
table {
  width: 100%;
}
td {
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  min-width: 30px;
  padding: 0px 4px 0px 4px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.total {
  text-align: right;
}
#print {
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 18px;
  width: 100px;
  min-height: 42px;
  box-shadow: none;
}
@media screen and (max-width: 600px) {
  .bill-container {
    width: calc(100% - 18px);
    margin-left: 0px;
    //margin-right: 8px;
    overflow: hidden;
  }
  table {
    max-width: 100%;
  }
  .td {
    max-width: 80px;
    padding: 0px 1px 0px 1px;
  }
}
