mat-toolbar {
  background-color: #3f51b5;
  color: white;
}
.dash-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  flex-grow: 1;
}
.h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-shadow: 2px 2px rgba($color: #000000, $alpha: 0.3);
  cursor: pointer;
}
.h1:focus {
  outline: none;
}
.auth-btn {
  position: absolute;
  right: 0;
  font-weight: 600;
  margin-right: 16px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  width: 420px;
  overflow: hidden;
  text-align: right;
}
.sidenav-container {
  flex-grow: 1;
}
.sidenav {
  width: 200px;
}
.sidenav-content {
  padding: 0.5rem 1.5rem;
}
@media screen and (max-width: 600px) {
  .auth-btn {
    display: none;
  }
  .sidenav-content {
    padding: 0.5rem;
  }
}
