<div class="dash-container">
  <mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()" [disabled]="!isAuth">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="h1" routerLink="/">Tax-Easy</h1>
    <h1 class="auth-btn" *ngIf="isAuth">{{ CompanyName }}</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #snav><app-sidenav></app-sidenav></mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
