<mat-selection-list [multiple]="false">
  <mat-list-option routerLink="/"
    ><div class="opt">
      <div class="opt-ico"><mat-icon>add</mat-icon></div>
      <div class="opt-txt">Home</div>
    </div></mat-list-option
  >
  <mat-list-option routerLink="/bills"
    ><div class="opt">
      <div class="opt-ico"><mat-icon>receipt</mat-icon></div>
      <div class="opt-txt">Bills</div>
    </div></mat-list-option
  >
  <mat-list-option class="opt" routerLink="/inventory"
    ><div class="opt">
      <div class="opt-ico"><mat-icon>store</mat-icon></div>
      <div class="opt-txt">Inventory</div>
    </div></mat-list-option
  >
</mat-selection-list>
