<mat-nav-list>
  <a mat-list-item routerLink="/">
    <mat-icon mat-list-icon>add</mat-icon>
    Home
  </a>

  <a mat-list-item routerLink="/bills"
    ><mat-icon mat-list-icon>receipt</mat-icon>
    Bills
  </a>
  <a mat-list-item routerLink="/inventory">
    <mat-icon mat-list-icon>store</mat-icon>
    Inventory
  </a>
  <div id="account">Account</div>
  <a mat-list-item routerLink="account"
    ><mat-icon mat-list-icon>account_box</mat-icon>Your Account</a
  >
  <mat-list-item (click)="logout()"
    ><mat-icon mat-list-icon>power_settings_new</mat-icon>Logout</mat-list-item
  >
</mat-nav-list>
